:root {
    --white: #faf9f6;
    --blue: #4a6274;
    --gray: #ebeae8;
    --black: #28282b;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--black);
    background-color: var(--gray);
    min-height: 100vh;
}

#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: 100vh;    
}

header {
    grid-area: header;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background-color: var(--blue);
    color: var(--white);
}

main {
    grid-area: main;
    display: grid;
    justify-items: center;
    grid-template-columns: auto 1fr;
    grid-template-areas:
    "form"
    "CV";
    padding: 1rem;
    height: calc(100vh - 10vh);
}

footer {
    grid-area: footer;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
}

a{
    color: var(--white);
    text-decoration: none;
}
@media only screen and (max-width: 1366px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}